In [10]:
# STEP 1: Import necessary packages
import pandas as pd
import os
from functools import lru_cache

# STEP 2: Display pandas version for debugging purposes
print(pd.__version__)

# STEP 3: Function to load and clean the CSV data
@lru_cache(maxsize=None)
def load_and_clean_csv(file_path):
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"The file {file_path} does not exist.")
    
    # STEP 3.1: Load the data
    df = pd.read_csv(file_path)
    
    # STEP 3.2: Define columns to keep
    columns_to_keep = [
        'number_of_reviews',
        'reviews_per_month',
        'minimum_nights',
        'calculated_host_listings_count',
        'review_scores_rating',
        'accommodates',
        'price',
        'availability_365',
        'availability_90',
        'availability_60', 
        'availability_30',
        'room_type',
        'room_class',
        'id',
        'latitude',
        'longitude', 
        'host_id',
        'neighbourhood_cleansed',
        'neighbourhood'
    ]
    
    # STEP 3.3: Filter DataFrame based on columns and replace NaNs with pd.NA
    existing_columns = [col for col in columns_to_keep if col in df.columns]
    df = df.loc[:, existing_columns].replace([None, ''], pd.NA)


    # STEP 3.4: Check for non-numeric values in 'price', 'latitude', and 'longitude'
    print("\nRows with non-numeric characters in 'price':")
    print(df[~df['price'].str.replace('[\$,]', '', regex=True).apply(lambda x: str(x).replace('.', '', 1).isdigit())])

    print("\nRows with non-numeric characters in 'latitude':")
    print(df[~df['latitude'].apply(lambda x: str(x).replace('.', '', 1).isdigit())])

    print("\nRows with non-numeric characters in 'longitude':")
    print(df[~df['longitude'].apply(lambda x: str(x).replace('.', '', 1).isdigit())])

    # STEP 3.5: Convert relevant columns to numeric (with coercion for errors)
    df['price'] = pd.to_numeric(df['price'].str.replace('[\$,]', '', regex=True), errors='coerce')
    df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
    df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

    # STEP 3.6: Drop rows with NaNs in essential columns and print the count of deleted rows
    rows_before = df.shape[0]
    numeric_cols = ['price', 'latitude', 'longitude']
    df = df.dropna(subset=numeric_cols)
    print(f"Rows deleted: {rows_before - df.shape[0]}")

    # STEP 3.7: Clean 'price' column if it exists
    if 'price' in df.columns:
        df['price'] = df['price'].astype(str).str.replace('[\$,]', '', regex=True).astype(float)

    # STEP 3.8: Convert other columns to float where applicable
    float_cols = [
        'number_of_reviews', 'reviews_per_month', 'minimum_nights',
        'calculated_host_listings_count', 'review_scores_rating', 'accommodates',
        'availability_365', 'availability_90', 'availability_60', 'availability_30',
        'id', 'latitude', 'longitude', 'host_id'
    ]

    existing_float_cols = [col for col in float_cols if col in df.columns]

    if existing_float_cols:  # Check if any float columns exist
        df[existing_float_cols] = df[existing_float_cols].apply(pd.to_numeric, errors='coerce')
    else:
        print("Warning: None of the specified float columns are in the dataset.")


    return df

# STEP 4: Specify the file path for the raw data
file_path = 'Raw data/raw/2019-11-listings.csv'

# STEP 5: Load and clean the data
df = load_and_clean_csv(file_path)

# STEP 6: Display the first few rows of the cleaned data
print("First few rows of the cleaned data:")
print(df.head())

# STEP 7: Compare the types of values in 'room_class' and 'room_type' if they exist,
# and produce a table of values for each column
if 'room_class' in df.columns:
    print("\nRoom Class Values:")
    print(df['room_class'].value_counts())
if 'room_type' in df.columns:
    print("\nRoom Type Values:")
    print(df['room_type'].value_counts())

# STEP 8: Make a table of number of NaN or blank values per column
nan_summary = df.isna().sum()
print("\nNumber of NaN or blank values per column:")
print(nan_summary)

2.2.2

/tmp/ipykernel_15159/2270696833.py:16: DtypeWarning: Columns (0,2,6,7,9,10,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Rows with non-numeric characters in 'price':
      number_of_reviews reviews_per_month minimum_nights  \
0                    47              2.27              1
1                   131              6.52              1
2                     8              0.51              7
3                     5               0.4             14
4                    16              1.52              3
...                 ...               ...            ...
84499
84934
84935
85136
85137

      calculated_host_listings_count price availability_365        room_type  \
0                                  1    35              278     Private room
1                                  3    19               23     Private room
2                                  1   103              317  Entire home/apt
3                                  1    85              346  Entire home/apt
4                                  3    85              139  Entire home/apt
...                              ...   ...              ...              ...
84499
84934
84935
85136
85137

            room_class        id  latitude longitude    host_id  \
0         Private room   9582415  51.44473    -0.379   49602995
1         Private room  23013522  51.45867  -0.34444   70374572
2      Entire home/apt  25796711  51.47398  -0.21531   25587547
3      Entire home/apt  29060134  51.52716  -0.44164   57607790
4      Entire home/apt  30374086  51.59118   -0.1667  228095684
...                ...       ...       ...       ...        ...
84499                1
84934                1  39839438
84935                1
85136                1  39852496
85137                1

                neighbourhood
0        Richmond upon Thames
1                    Hounslow
2      Hammersmith and Fulham
3                  Hillingdon
4                      Barnet
...                       ...
84499
84934
84935
85136
85137

[33093 rows x 13 columns]

Rows with non-numeric characters in 'latitude':
      number_of_reviews reviews_per_month minimum_nights  \
65014
65015
65272
65273
65468
...                 ...               ...            ...
84499
84934
84935
85136
85137

      calculated_host_listings_count price availability_365 room_type  \
65014
65015
65272
65273
65468
...                              ...   ...              ...       ...
84499
84934
84935
85136
85137

      room_class        id latitude longitude host_id neighbourhood
65014          1    314066
65015          1
65272          1   1257260
65273          1
65468          1   3328248
...          ...       ...      ...       ...     ...           ...
84499          1
84934          1  39839438
84935          1
85136          1  39852496
85137          1

[325 rows x 13 columns]

Rows with non-numeric characters in 'longitude':
      number_of_reviews reviews_per_month minimum_nights  \
0                    47              2.27              1
1                   131              6.52              1
2                     8              0.51              7
3                     5               0.4             14
4                    16              1.52              3
...                 ...               ...            ...
85230                 0                                1
85231                 0                                3
85232                 0                                2
85233                 0                                3
85235                 0                                1

      calculated_host_listings_count price availability_365        room_type  \
0                                  1    35              278     Private room
1                                  3    19               23     Private room
2                                  1   103              317  Entire home/apt
3                                  1    85              346  Entire home/apt
4                                  3    85              139  Entire home/apt
...                              ...   ...              ...              ...
85230                              7   110              157  Entire home/apt
85231                              1    70               88  Entire home/apt
85232                              2    69              113     Private room
85233                              4    90               63  Entire home/apt
85235                              1   187              311  Entire home/apt

            room_class        id  latitude longitude    host_id  \
0         Private room   9582415  51.44473    -0.379   49602995
1         Private room  23013522  51.45867  -0.34444   70374572
2      Entire home/apt  25796711  51.47398  -0.21531   25587547
3      Entire home/apt  29060134  51.52716  -0.44164   57607790
4      Entire home/apt  30374086  51.59118   -0.1667  228095684
...                ...       ...       ...       ...        ...
85230  Entire home/apt  39868743   51.5313   -.09735   68185132
85231  Entire home/apt  39868875  51.58208   -.00915   13553423
85232     Private room  39869123  51.40628   -.23244   21145791
85233  Entire home/apt  39869214  51.50244   -.21547  251922260
85235  Entire home/apt  39869282   51.5109    -.1248  210531062

                neighbourhood
0        Richmond upon Thames
1                    Hounslow
2      Hammersmith and Fulham
3                  Hillingdon
4                      Barnet
...                       ...
85230               Islington
85231          Waltham Forest
85232                  Merton
85233  Hammersmith and Fulham
85235             Westminster

[79618 rows x 13 columns]
Rows deleted: 33093
First few rows of the cleaned data:
       number_of_reviews  reviews_per_month  minimum_nights  \
32768                 54               1.43               1
32769                 11               0.28               4
32770                 53               1.41               2
32771                 22               0.60              90
32772                 38               0.96               2

       calculated_host_listings_count  price  availability_365  \
32768                               3   50.0                 0
32769                               1  140.0               268
32770                             101  129.0                 5
32771                               1  100.0               160
32772                               1  229.0                55

             room_type       room_class        id  latitude  longitude  \
32768  Entire home/apt  Entire home/apt  13502357  51.49414    0.04633
32769  Entire home/apt  Entire home/apt  13762995  51.43992    0.11716
32770  Entire home/apt  Entire home/apt  14082599  51.51404   -0.18514
32771  Entire home/apt  Entire home/apt  14119624  51.53254   -0.18926
32772  Entire home/apt  Entire home/apt  14283794  51.54761   -0.19009

        host_id neighbourhood
32768  77443101     Greenwich
32769  80702233        Bexley
32770  83740964   Westminster
32771   7613601   Westminster
32772  32131914        Camden

Room Class Values:
room_class
Entire home/apt    29620
Private room       21430
Hotel room           659
Shared room          434
Name: count, dtype: int64

Room Type Values:
room_type
Entire home/apt    29620
Private room       21430
Hotel room           659
Shared room          434
Name: count, dtype: int64

Number of NaN or blank values per column:
number_of_reviews                     0
reviews_per_month                 19973
minimum_nights                        0
calculated_host_listings_count        0
price                                 0
availability_365                      0
room_type                             0
room_class                            0
id                                    0
latitude                              0
longitude                             0
host_id                               0
neighbourhood                         0
dtype: int64

In [15]:
# STEP 9: Keep the one that has Hotels, entire, private and shared rooms only
if 'room_class' in df.columns:
    df.drop(columns=['room_class'], inplace=True)
    print("Column 'room_class' has been deleted.")

# STEP 10: If 'room_class' exists, rename it to 'room_type'
if 'room_class' in df.columns:
    df.rename(columns={'room_class': 'room_type'}, inplace=True)
    print("Column 'room_class' has been renamed to 'room_type'.")

# STEP 11: If 'neighbourhood' exists, rename it to 'neighbourhood_cleansed'
if 'neighbourhood' in df.columns:
    df.rename(columns={'neighbourhood': 'neighbourhood_cleansed'}, inplace=True)
    print("Column 'neighbourhood' renamed to 'neighbourhood_cleansed'.")

Column 'neighbourhood' renamed to 'neighbourhood_cleansed'.

In [16]:
# STEP 9: Save the cleaned data to a new CSV file
output_file_path = 'cleaned_2019_data.csv'
df.to_csv(output_file_path, index=False)
print(f"Cleaned data has been saved to '{output_file_path}'.")

Cleaned data has been saved to 'cleaned_2019_data.csv'.

In [17]:
# STEP 1: Specify the new file path for the raw data
file_path_2021 = 'Raw data/raw/2021-10-listings.csv'

# STEP 2: Specify the new output file path for the cleaned data
output_file_path_2021 = 'cleaned_2021_data.csv'

# STEP 3:  Load and clean the data using the cached function
df_2021 = load_and_clean_csv(file_path_2021)

# STEP 4:  Display the first few rows of the cleaned data
print("First few rows of the cleaned 2021 data:")
print(df_2021.head())

First few rows of the cleaned 2021 data:
   number_of_reviews  reviews_per_month  minimum_nights  \
0                 21               0.17               1
1                 89               0.80               3
2                 43               0.35               4
3                  0                NaN               3
4                 93               0.77               7

   calculated_host_listings_count  review_scores_rating  accommodates  price  \
0                               2                  4.85             2   65.0
1                               1                  4.79             2   75.0
2                              15                  4.69             6  307.0
3                               2                   NaN             2  150.0
4                               1                  4.89             4  195.0

   availability_365  availability_90  availability_60  availability_30  \
0               359               84               54               24
1               153               63               33               18
2               322               47               23                2
3               364               89               59               29
4               248                6                6                6

         room_type     id  latitude  longitude  host_id  \
0     Private room  13913  51.56802   -0.11121    54730
1  Entire home/apt  15400  51.48780   -0.16813    60302
2  Entire home/apt  17402  51.52195   -0.14094    67564
3     Private room  17506  51.47935   -0.19743    67915
4  Entire home/apt  24328  51.47298   -0.16376    41759

   neighbourhood_cleansed                              neighbourhood
0               Islington  Islington, Greater London, United Kingdom
1  Kensington and Chelsea                     London, United Kingdom
2             Westminster          London, Fitzrovia, United Kingdom
3  Hammersmith and Fulham                     London, United Kingdom
4              Wandsworth                     London, United Kingdom

In [18]:
# STEP 5:  Compare the types of values in 'room_class' and 'room_type' if they exist,
# and produce a table of values for each column
if 'room_class' in df.columns:
    print("\nRoom Class Values:")
    print(df['room_class'].value_counts())
if 'room_type' in df.columns:
    print("\nRoom Type Values:")
    print(df['room_type'].value_counts())

Room Type Values:
room_type
Entire home/apt    29620
Private room       21430
Hotel room           659
Shared room          434
Name: count, dtype: int64

In [19]:
# STEP 9: Save the cleaned data to a new CSV file
df_2021.to_csv(output_file_path_2021, index=False)
print(f"Cleaned 2021 data has been saved to '{output_file_path_2021}'.")

Cleaned 2021 data has been saved to 'cleaned_2021_data.csv'.

In [20]:
# STEP 1: Specify the new file path for the raw data
file_path_2023 = 'Raw data/raw/2023-09-06-listings.csv'

# STEP 2: Specify the new output file path for the cleaned data
output_file_path_2023 = 'cleaned_2023_data.csv'

# STEP 3:  Load and clean the data using the cached function
df_2023 = load_and_clean_csv(file_path_2023)

# STEP 4:  Display the first few rows of the cleaned data
print("First few rows of the cleaned 2023 data:")
print(df_2023.head())

# STEP 5:  Compare the types of values in 'room_class' and 'room_type' if they exist,
# and produce a table of values for each column
if 'room_class' in df_2023.columns:
    print("\nRoom Class Values:")
    print(df['room_class'].value_counts())
if 'room_type' in df_2023.columns:
    print("\nRoom Type Values:")
    print(df['room_type'].value_counts())

/tmp/ipykernel_15159/2270696833.py:16: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Rows with non-numeric characters in 'price':
Empty DataFrame
Columns: [number_of_reviews, reviews_per_month, minimum_nights, calculated_host_listings_count, review_scores_rating, accommodates, price, availability_365, availability_90, availability_60, availability_30, room_type, id, latitude, longitude, host_id, neighbourhood_cleansed, neighbourhood]
Index: []

Rows with non-numeric characters in 'latitude':
Empty DataFrame
Columns: [number_of_reviews, reviews_per_month, minimum_nights, calculated_host_listings_count, review_scores_rating, accommodates, price, availability_365, availability_90, availability_60, availability_30, room_type, id, latitude, longitude, host_id, neighbourhood_cleansed, neighbourhood]
Index: []

Rows with non-numeric characters in 'longitude':
       number_of_reviews  reviews_per_month  minimum_nights  \
0                    216               1.45               2
1                     38               0.27               5
2                     41               0.26               1
3                     94               0.56               7
5                     54               0.36               3
...                  ...                ...             ...
87941                  0                NaN               2
87942                  0                NaN               3
87943                  0                NaN               1
87944                  0                NaN               1
87945                  0                NaN               1

       calculated_host_listings_count  review_scores_rating  accommodates  \
0                                   1                  4.57             2
1                                   1                  4.82             5
2                                   2                  4.80             1
3                                   1                  4.80             2
5                                   9                  4.76             6
...                               ...                   ...           ...
87941                               2                   NaN             3
87942                               1                   NaN             2
87943                               1                   NaN             7
87944                             170                   NaN            10
87945                               6                   NaN             6

         price  availability_365  availability_90  availability_60  \
0       $42.00               217                0                0
1      $175.00                40               38               18
2       $79.00               360               85               55
3      $150.00                73                7                7
5      $476.00               300               50               26
...        ...               ...              ...              ...
87941  $275.00               239               11               11
87942  $145.00                88               88               58
87943  $160.00                80               80               50
87944  $680.00               364               89               59
87945  $170.00               297               87               57

       availability_30        room_type                  id   latitude  \
0                    0     Private room               92644  51.442010
1                   13  Entire home/apt               93015  51.499930
2                   25     Private room               13913  51.568610
3                    7  Entire home/apt               15400  51.487800
5                   14  Entire home/apt               17402  51.521950
...                ...              ...                 ...        ...
87941                1  Entire home/apt  973781286754517228  51.514860
87942               28  Entire home/apt  973801695874775338  51.459042
87943               22     Private room  973811685656289740  51.406100
87944               29  Entire home/apt  973882998775927897  51.450997
87945               27  Entire home/apt  973895808066047620  51.515970

       longitude    host_id  neighbourhood_cleansed  \
0      -0.187390     498201              Wandsworth
1      -0.217070     499704  Hammersmith and Fulham
2      -0.112700      54730               Islington
3      -0.168130      60302  Kensington and Chelsea
5      -0.140940      67564             Westminster
...          ...        ...                     ...
87941  -0.135980  498408783             Westminster
87942  -0.055458   36645347               Southwark
87943  -0.236126  340514057                  Merton
87944  -0.444319  439074505                Hounslow
87945  -0.111342  475112423          City of London

                                   neighbourhood
0                                           <NA>
1           Hammersmith, England, United Kingdom
2      Islington, Greater London, United Kingdom
3                         London, United Kingdom
5              London, Fitzrovia, United Kingdom
...                                          ...
87941                                       <NA>
87942                                       <NA>
87943                                       <NA>
87944                                       <NA>
87945    Greater London, England, United Kingdom

[80926 rows x 18 columns]
Rows deleted: 0
First few rows of the cleaned 2023 data:
   number_of_reviews  reviews_per_month  minimum_nights  \
0                216               1.45               2
1                 38               0.27               5
2                 41               0.26               1
3                 94               0.56               7
4                180               1.21               4

   calculated_host_listings_count  review_scores_rating  accommodates  price  \
0                               1                  4.57             2   42.0
1                               1                  4.82             5  175.0
2                               2                  4.80             1   79.0
3                               1                  4.80             2  150.0
4                               1                  4.62             2   46.0

   availability_365  availability_90  availability_60  availability_30  \
0               217                0                0                0
1                40               38               18               13
2               360               85               55               25
3                73                7                7                7
4               196                5                5                5

         room_type     id  latitude  longitude  host_id  \
0     Private room  92644  51.44201   -0.18739   498201
1  Entire home/apt  93015  51.49993   -0.21707   499704
2     Private room  13913  51.56861   -0.11270    54730
3  Entire home/apt  15400  51.48780   -0.16813    60302
4     Private room  93734  51.47618    0.01442   497514

   neighbourhood_cleansed                              neighbourhood
0              Wandsworth                                       <NA>
1  Hammersmith and Fulham       Hammersmith, England, United Kingdom
2               Islington  Islington, Greater London, United Kingdom
3  Kensington and Chelsea                     London, United Kingdom
4               Greenwich                                       <NA>

Room Type Values:
room_type
Entire home/apt    29620
Private room       21430
Hotel room           659
Shared room          434
Name: count, dtype: int64

In [21]:
# STEP 9: Save the cleaned data to a new CSV file
df_2023.to_csv(output_file_path_2023, index=False)
print(f"Cleaned 2023 data has been saved to '{output_file_path_2023}'.")

Cleaned 2023 data has been saved to 'cleaned_2023_data.csv'.